.DS_Store
HomeworkGamepadSquare/HomeworkGamepadSquare.xcodeproj/project.xcworkspace/xcuserdata
HomeworkGamepadSquare/HomeworkGamepadSquare.xcodeproj/xcuserdata
HomeworkGamepadSquare/HomeworkGamepadSquare.xcodeproj/project.xcworkspace/xcuserdata
*.xcuserstate
HomeworkGamepadSquare/HomeworkGamepadSquare.xcodeproj/project.xcworkspace/xcuserdata/ivanznak.xcuserdatad/UserInterfaceState.xcuserstate
